/* If i were to do this page over againI would have made the links at the top of the page. Also if i had links i would make  */

body{
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   background-image: url(assets/images/fancy-cushion.png);
    height: auto;

}

/* styling for elements in the header */
header {
    padding: 30px;
    position: relative;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 1px solid #cccccc;
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

#name {
        font-size: 27pt;
        position: absolute;
        padding: 10px;
        color: white;
        bottom: -1px;
        left: 50px;
        float: left;
        text-align: center;
        background-color: #4aaaa5;
}

.contact{
    color: #777777;
    float:right;
    border-left: 1px solid #777777;
    padding: 3px;
}
.portfolio{
    color: #777777;
    float:right;
    border-left: 1px solid #777777;
    padding: 3px;
}
.about {
    color: #777777;
    float:right;
    padding: 3px;
}

/* styling for elements in the main body */
.main {
    background-color: #ffffff;
    color: #777777;
    width:960px;
    height:100%;
    margin:auto;
    padding:10px;
    margin-top: 2%;
    margin-bottom:10%;
}

#about_me {
    color: #4aaaa5;
    border-bottom: 1px solid #777777;
}

/* styling for elemwnts in the footer */
footer{
    position: absolute;
    width:100%;
    padding:20px;
    height: 20px;
    text-align: center;
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    font-size: 8pt;
}

#pic_of_me{
    float: left;
    padding:1%;
}
.main::after {
    content: "";
    clear: both;
    display: table;
}

/* Added styling for contact page */

#message{
    height:200px;
}

.button{
    background-color: #4aaaa5;
}

.infowidth{
    width:940px;
}

/* added styling for portfolio page */

.bridge{
    float:left;
    position: relative;
    margin:10px;
   
}

.title {
    position: absolute;
    Background-color: #4aaaa5;
    width:200px;
    color: white;
    text-align:center;
    bottom:10px;
    

}

@media only screen and (max-width: 980px) {
    body {
      font-size: 12pt;
    
    }

    .main{
        width:960px;
    }

    #name{
        font-size: 27pt;
    }
  }

  @media only screen and (max-width: 768px) {
    body {
      font-size: 20px;
      
    }
    #name{
        font-size: 30pt;
    }
    .main{
        width:748px;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      font-size:25px;
    }
    .main{
        width:580px;
    }
    #name{
        font-size: 35pt;
    }
  }